.hero {
  max-width: 100vw;
  background-color: #ffffff;
  position: relative;
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.236);
}

.hero__text {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  text-align: center;
  color: #ffffff;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 0 15px;
  word-spacing: 4px;
}