:root {
  --font-size: 12px;
}

.season-event {
  background-color: #525643;
  color: #fff;
  padding: 60px 0;
  display: grid;
  grid-template-columns: 1fr;
}

/* Season Event Text */

.season-event h2 {
  font-size: calc(var(--base-font-size) * 3);
  margin: 0;
}

.season-event__text {
  margin-left: 15px;
  width: 400px;
}

.season-event__text p:first-child {
  font-size: calc(var(--base-font-size) * 2);
  margin: 0;
}

.season-event__text p:last-child {
  font-size: 14px;
  border-bottom: solid 2px #fff;
  margin: 0;
  display: inline-block;
}

/* Season Event Buttons */

.season-event__buttons {
  margin: 30px 0 10px 0;
  height: 40px;
  display: flex;
  padding-left: 5px;
}

.season-event__button {
  padding: 10px 20px;
  font-family: "Prata", serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

/* Responsive Design */

@media (min-width: 1025px) {
  .season-event {
    grid-template-columns: 1fr 1fr;
  }

  .season-event__buttons {
    margin-top: 20px;
    justify-content: center;
  }
}